body {
    margin: 0;
    padding: 0;
}

#game-screen {
    display: block;
}

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

h1 , h2, h3 {
    font-family: 'Indie Flower', cursive;
    color: yellow;
    text-align: center;
}

.title {
    font-size: 69px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#restartButton {
    border: 2px solid aqua;
    border-radius: 200px;
}

#restartButton:hover{
    background-color: #000033;
}

#scoreboard {
    margin: 0px;
    margin-left: 5px;
}